<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Kadeploy - scalable, efficient and reliable deployment tool for clusters and Grid computing</title>
    <link href="default.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Kadeploy - scalable, efficient and reliable deployment tool for clusters and Grid computing" />
    <meta name="keywords" content="hpc cluster grid cloud computing deployment provisioning ghost systemimager clonezilla xCAT frisbee quattor OSCAR TFTP DHCP PXE scalable efficient reliable fast" />
  </head>
  <body>

  <div id="container">

<div style="text-align: center;"><img style="border: 0px solid ; " alt="kadeplo's logo" title="" src="kadeploy.png"></div>

<table style="background-color: rgb(250, 123, 25);" border="0" cellpadding="1" cellspacing="0" width="100%">
  <tbody>
    <tr>
       <td></td>
    </tr>
  </tbody>
</table>

    <div id="menu">
	    <div class="webgen-menu-horiz ">
		    <ul>
			    <li class="webgen-menu-item-selected"><a href="./index.html" title="Main">Main</a></li>
			    <li ><a href="https://gitlab.inria.fr/grid5000/kadeploy" title="Gitlab project page">Gitlab project page</a></li>
			    <li ><a href="https://gitlab.inria.fr/grid5000/kadeploy/-/raw/master/doc/Kadeploy.pdf" title="Documentation">Documentation</a></li>
			    <li ><a href="https://gitlab.inria.fr/grid5000/kadeploy/-/releases" title="Releases">Releases</a></li>
		    </ul>
	    </div>
    </div>

    <div class="body">
      <h2>Overview</h2>


      <p style="text-align: justify;"> Kadeploy is a  scalable, efficient and
      reliable deployment system (cluster provisioning solution) for cluster
      and grid computing. It provides a set of tools for cloning, configuring
      (post installation) and managing cluster nodes. It can deploy a 300-nodes
      cluster in a few minutes, without intervention from the system
      administrator. It can deploy Linux, *BSD, Windows, Solaris.</p>

      <p style="text-align: justify;">It plays a key role on the 
      <a href="http://www.grid5000.fr/">Grid'5000</a> testbed, where it
      allows users to reconfigure the software environment on the nodes.</p>

	<h2>Download</h2>


	<p style="text-align: justify;">Sources, packages and documentation are
	available on the
       	<b><a href="https://gitlab.inria.fr/grid5000/kadeploy">Gitlab project page</a></b>.</p>



	<h2>Mailing list &amp; contact information</h2>

<p style="text-align: justify;">To report bugs, ask for support or have general discussions, please use the
<b><a href="https://gitlab.inria.fr/grid5000/kadeploy/-/issues">bug tracker</a></b> or the <b><a href="https://sympa.inria.fr/sympa/info/kadeploy-users">mailing list</a></b> .</p>

<p style="text-align: justify;">
<b>Kadeploy3</b> is developed at
<b><a href="http://www.inria.fr/nancy/">INRIA Nancy - Grand Est</a></b>.
Its intiial development was supported by the <b>ADT Kadeploy</b> project (2011-2013), which was led by the 
<a href="http://www.loria.fr/equipes/algorille/">AlGorille team</a> at
<a href="http://www.loria.fr/">LORIA</a>.</p>
<p style="text-align: justify;">
Current developers are Alexandre Merlin (Inria, main developer since 2020), Pierre Neyron (CNRS) and Lucas Nussbaum (Inria).</p>

	<h2>Publications</h2>
	<ul>
		<li style="text-align: justify;">Kadeploy was presented in:<br/>
	<blockquote>
		Emmanuel Jeanvoine, Luc Sarzyniec, Lucas Nussbaum.<br/>
        <b>Kadeploy3: Efficient and Scalable Operating System Provisioning</b><br/>
        USENIX ;login:, volume 38, number 1, pages 38-44 (February 2013). (<a href="https://www.usenix.org/system/files/login/issues/login_1302.pdf">Full issue</a>)
</blockquote>
To cite Kadeploy3, use:
<pre>
@article{kadeploy3,
    title = {{Kadeploy3: Efficient and Scalable Operating System Provisioning}},
    author = {Jeanvoine, Emmanuel and Sarzyniec, Luc and Nussbaum, Lucas},
    journal = "USENIX ;login:",
    volume = 38,
    number = 1,
    year = {2013},
    pages = {38-44},
    month = Feb
}
</pre>

		<li style="text-align: justify;">More detailed research report presenting Kadeploy3:<br/>
	<blockquote>
		Emmanuel Jeanvoine, Luc Sarzyniec, Lucas Nussbaum.<br/>
        <b>Kadeploy3: Efficient and Scalable Operating System Provisioning for HPC Clusters.</b><br/>
        INRIA Research Report 8002. (<a href="http://hal.inria.fr/docs/00/71/06/38/PDF/RR-8002.pdf">Full paper</a>,
	<a href="http://hal.inria.fr/hal-00710638">HAL page</a>)
</blockquote>
</li>
<li style="text-align: justify;">A demo featuring Kadeploy was selected for the final of the <a href="http://www.cloudbus.org/ccgrid2012/cfp-scale.html">2012 SCALE challenge</a> (organized in conjunction with CCGrid'2012). See the <a href="http://hal.inria.fr/docs/00/70/09/62/PDF/kadeploy-scale2012.pdf">full paper</a> and the <a href="http://hal.inria.fr/docs/00/70/09/62/ANNEX/kadeploy-scale2012-slides.pdf">presentation slides</a> on <a href="http://hal.archives-ouvertes.fr/hal-00700962/en/">HAL</a>.</li>
<li style="text-align: justify;">An experiment featuring Kadeploy won the <a href="https://www.grid5000.fr/mediawiki/index.php/Grid5000:School2012#Registration_for_the_Grid.275000_Large_Scale_Deployment_Challenge">Grid'5000 school 2012 challenge's</a>. See the <a href="files/Kadeploy3-g5kschool.pdf">presentation slides</a>.</li>
<li style="text-align: justify;">An overview of Kadeploy main features is available <a href="files/Kadeploy3-presentation.pdf">here</a>.</li>
</ul>

	<h2>Acknowledgements</h2>

	<p style="text-align: justify;">Kadeploy3 greatly benefits from the work on Kadeploy and Kadeploy2, which were developed by the <a href="http://www-apache.imag.fr/">Apache</a> and <a href="http://mescal.imag.fr">Mescal</a> projects at the <a href="http://www-id.imag.fr">ID-IMAG laboratory</a> (now part of <a href="http://www.liglab.fr/">Laboratoire d'Informatique de Grenoble</a>).</p>
    </div>

<table style="background-color: rgb(250, 123, 25);" border="0" cellpadding="1" cellspacing="0" width="100%">
  <tbody>
    <tr>
       <td></td>
    </tr>
  </tbody>
</table>

<div id="footer" class="bar">
<p style="text-align: center;">
<a href="http://www.inria.fr/" class="logo" title="INRIA"><img src="img/logo-inria.png" alt="INRIA"/></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://www.loria.fr/" class="logo" title="LORIA"><img src="img/logo-loria.png" alt="LORIA"/></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://www.univ-lorraine.fr/" class="logo" title="Université de Lorraine"><img src="img/logo-ul.png" alt="Université de Lorraine"/></a>
</p>
</div>
  </div>
  </body>
</html>
